* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F0FFF7;
    font-family: 'Plus Jakarta Sans';
   
}

a {
    text-decoration: none;
}

/* PRELOADER */

.preloader {
    background: #03011C url(assets/FreshnatImages/Gear-0.5s-200px.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999999;
}

/* HEADER SESSION */

.header {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 1500px;
    margin: auto;
}



/* for scrolling to the top  */

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px; 
    right: 25px;
    z-index: 99;
    border: 2px solid #FFFFFF;
    outline: none;
    background: #13A3AC;;
    color: #ffff;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    font-size: 25px;
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    z-index: 999999;
    top: 0;
    right: 0;
   
}

.logo img {
    position: absolute;
    width: 27.55px;
    height: 31.99px;
    top: 20px;
    left: 50px;
}

.logo h4 {
    margin-top: 15px;
    margin-left: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #13A3AC;

}

.menu-park {
    display: none;
}

.menu {
    margin-top: 25px;
    margin-right: 35px;
    padding-right: 45px;
    z-index: 1;
}

.menu a {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #13A3AC;
    margin: 10px 30px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.menu a:last-child {
    margin-right: 0;
}

.menu a::after {
    content: '';
    width: 0;
    background: #13A3AC;
    height: 2px;
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}

.menu a:hover::after {
    width: 100%;
}


.fresh-and-natural {
    background: #13A3AC;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 60px;
    margin: 150px 40px 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.fresh-and-natural img {
    position: absolute;
}

.fresh-and-natural-1 {
    z-index: 5;
}

.fresh-and-natural-1 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;

}

.fresh-and-natural-1 p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    margin: 20px 0;
}

.fresh-and-natural-1 form {
    margin-top: 60px;
    background: rgba(19, 34, 172, 0.05);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding-right: 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;
}

.fresh-and-natural-1 form input {
    background: transparent;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.fresh-and-natural-1 form button {
    background: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.fresh-and-natural-1 form button i {
    color: #13A3AC;
    font-size: 16px;
}

::placeholder {
    font-size: 16px;
    color: #FFFFFF;
}


.fresh-and-natural .img1 {
    width: 400.47px;
    height: 530.47px;
    right: 110px;
    top: -100px;
    z-index: 5;
}

.fresh-and-natural .img4 {
    top: 0;
    right: 110px;
}

.fresh-and-natural .img5 {
    top: 0;
    right: 0;
}

.fresh-and-natural .img2 {
    top: 340px;
    left: 0;
}

.fresh-and-natural .img3 {
    top: 300px;
    left: 70px;
    height: 230px;
}

.fresh-and-natural .img6 {
    left: 50%;
    top: 400px;
}

.fresh-and-natural .img7 {
    left: 47%;
    top: 370px;
}

.fresh-and-natural .img8 {
    right: 110px;
    top: 110px;
}

.fresh-and-natural .img9 {
    right: 140px;
    top: 70px;
}

.fresh-and-natural .dots-container {
    position: absolute;
    top: 400px;
    right: 0;
}

.fresh-and-natural .dots i {
    color: #FFFFFF;
    font-size: 6px;
}


.freshest-ingredients {
    display:  flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    width: 100%;
    height: auto;
}

.vegetable {
    height: 400px;
    width: 350px;
    background: url(assets/FreshnatImages/Bowl\ of\ vegetable\ sala\ 1.png) no-repeat;
    background-position: center;
    background-size: contain;
    /* padding: 100px; */
}

.vegetable .img10 {
    position: absolute;
    left: -150px;
    margin-top: 300px;
}

.freshest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.freshest h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 140%;
    color: #13A3AC;


}

.freshest p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #13A3AC;
    margin: 20px 0;
}

.freshest a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 40px;
    gap: 10px;
    background: #13A3AC;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

.freshest a:hover {
    transform: translateY(-10px);
}

.fa-chevron-right {
    padding: 6px 7px 6px 8px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    margin-left: 8px;
}

.freshest-ingredients .dots-container {
    position: absolute;
    left: -40px;
    margin-top: 490px;
    z-index: 1;
}

.freshest-ingredients .dots-container .dots {
    font-size: 5px;
    color: #13A3AC;
}

.freshest-ingredients .dots-container .dots i {
    margin: 3px;
}



@media screen and (max-width:800px) {
    
    /* NAVBAR */

    .nav-bar {
        padding-bottom: 20px;
    }

    .logo img {
        width: 24.71px;
        height: 28.28px;
        left: 25px;
    }

    .logo h4 {
        margin-top: 16px;
        margin-left: 55px;
        font-size: 17px;
    }

    .menu-park {
        display: block;
    }

    .hamburger-menu {
        position: fixed;
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        appearance: none;
        background: #13A3AC;
        outline: none;
        border: none;
        z-index: 9999;
        top: 20px;
        right: 7.5%;
        transition: 0.5s;
    }
    
    .hamburger-menu .bar, 
    .hamburger-menu:after, 
    .hamburger-menu:before {
        content: '';
        display: block;
        height: 3px;
        width: 90%;
        background: #F0FFF7;
        margin: 3px 0;
        border-radius: 5px;
        transition: 0.6s;
    }
    
    .is-active:before {
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    
    .is-active .bar {
        opacity: 0;
    }
    
    .is-active:after{
        transform: rotate(45deg) translate(-6px, -7px);
    }
    
    .menu {
        padding: 100px 0 0 0;
        display: block;
        position: fixed;
        top: 0;
        margin-top: 0;
        visibility: hidden;
        opacity: 0;
        width: 80%;
        min-height: 70vh;
        background: #13A3AC;
        border-bottom-right-radius: 20px;
        z-index: 99;
        transition: visibility 0.6s, opacity 0.6s linear;
    }
    
    .menu.is-active {
        visibility: visible;
        opacity: 0.88;
    }
    
    .menu a {
        display: block;
        text-align: left;
        padding: 20px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500;
        border-radius: 0;
        background: transparent;
        margin: 0;
        transition: 0.5s;
    }

    .menu a:first-child {
        color: #FFFFFF;
        font-size: 18px;
    }
    
    .menu a:hover {
        padding-left: 30px;
        background: #03011C;
    }

    .menu a:hover::after {
        width: 0;
    }

    /* OTHER CONTENTS OF THE HEADER SESSION */

    .fresh-and-natural {
        margin: 150px 15px 40px;
        padding: 40px 20px;
    }

    .fresh-and-natural-1 h1 {
        font-size: 45px;
        line-height: 120%;
    }

    .fresh-and-natural-1 p {
        font-size: 14px;
        line-height: 150%;
    }

    .fresh-and-natural-1 form {
        padding-right: 10px;
        border-radius: 10px;
    }

    .fresh-and-natural-1 form input {
        padding: 10px;
        line-height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .fresh-and-natural-1 form button {
        padding: 5px 10px;
    }

    .fresh-and-natural-1 form button i {
        font-size: 14px;
    }

    ::placeholder {
        font-size: 14px;
    }

    .fresh-and-natural .img1 {
        opacity: 0.2;
        z-index: 0;
        right: 20px;
        width: 250.47px;
        height: 420.47px;
    }

    .fresh-and-natural .img4 {
        height: 130px;
        right: 60px;
    }

    .fresh-and-natural .img5 {
        height: 100px;
    }

    .fresh-and-natural .img2 {
        height: 100px;
        top: 370px;
    }

    .fresh-and-natural .img3 {
        height: 130px;
        left: 40px;
        top: 350px;
    }

    .fresh-and-natural .img7 {
        top: 310px;
    }

    .vegetable .img10 {
        margin-top: 450px;
    }

    .fresh-and-natural .dots-container {
        top: 350px;
    }

    .freshest-ingredients {
        flex-direction: column;
        padding: 40px 15px;
    }

    .vegetable {
        background-size: cover;
        width: 300px;
        height: 250px;
    }

    .freshest-ingredients .dots-container {
        top: 370px;
        left: -80px;
    }

    .freshest h2 {
        font-size: 30px;
    }

    .freshest p {
        font-size: 16px;
        line-height: 150%;
    }

    .freshest a {
        font-size: 14px;
    }

    .fa-chevron-right {
        font-size: 12px;
    }

    .freshest-ingredients .dots-container {
        margin-top: 750px;
    }
    
}


/* HEADER SESSION MEDIA QUERY FOR SOME TABLETS */

@media only screen and (max-width:1100px) and (min-width:800px) {
    .menu {
        margin-right: 0;
    }

    .menu a {
        margin: 10px 15px;
    }

    .fresh-and-natural .img1 {
        width: 350.47px;
        height: 520.47px;
        right: 70px;
        top: -50px;
        z-index: 0;
        opacity: 0.6;
    }

    .fresh-and-natural .img2 {
        top: 370px;
    }

    .fresh-and-natural .img3 {
        top: 350px;
    }

    .freshest p {
        font-size: 17px;
    }
}


/* HEADER SESSION END */

/* ABOUT US SESSION */

.about-us {
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: auto auto;
    padding-left: 0;
}

.about-us .cover {
    margin: 20px 0;
    height: auto;
    position: absolute;
    padding: 63px 80px;
    gap: 10px;
    background: #FFFFFF;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.buy-your-craving h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    color: #13A3AC;
    padding-bottom: 5px;
}

.buy-your-craving h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #13A3AC;
    padding-bottom: 30px;

}

.buy-your-craving a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    gap: 10px;
    background: #13A3AC;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

.buy-your-craving a:hover {
    transform: translateY(-10px);
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.the-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(19, 163, 172, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 10px;
    box-shadow: 0px 3px 3px 3px #817b742f;
    margin-right: 50px;
    padding: 0 10px 10px 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.the-box1 {
    margin-left: 100px;
}

.the-box3 {
    margin-right: -120px;
}

.the-box:hover {
    transform: translateY(-10px);
}

.the-box img {
    width: 152.76px;
    height: 152.76px;
}

.the-box button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 15px;
    border: none;
    background: rgba(19, 163, 172, 0.1);
    border-radius: 30px;
    cursor:cell;
}

.the-box button p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #13A3AC;
}

.the-box button p span {
    font-size: 16px;
    font-weight: 600;
}

.the-box button i {
    text-align: center;
    padding: 6px 8px;
    font-size: 15px;
    border-radius: 50%;
    background: #13A3AC;
    color: #FFFFFF;
}

@media screen and (max-width:800px) {
    .about-us .cover{
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 0;
        padding: 30px 15px;
    }
    .buy-your-craving {
        text-align: center;
    }

    .buy-your-craving h2 {
        font-size: 25px;
        line-height: 110%;
    }

    .buy-your-craving h4 {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 1px;
    }

    .buy-your-craving a {
        margin-bottom: 25px;
    }

    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .the-box1 {
        margin-left: 0;
    }

    .the-box {
        margin-right: 0;
        margin-bottom: 40px;
    }

}

/* ABOUT US SESSION MEDIA QUERY FOR SOME TABLETS */

@media only screen and (max-width:1100px) and (min-width:800px) {
    .about-us .cover{
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        width: 100%;
        position: relative;
    }

    .freshest-ingredients .dots-container .dots{
        visibility: hidden;
    }

    .buy-your-craving {
        text-align: center;
    }

    .buy-your-craving h2 {
        font-size: 30px;
    }

    .buy-your-craving h4 {
        font-size: 14px;
    }

    .buy-your-craving a {
        font-size: 18px;
    }

    .boxes {
        margin-top: 40px;
        width: 100%;
    }

    .the-box1{
        margin-left: 0;
    }

    .the-box {
        padding: 0 23px 23px 23px;
    }

    .boxes .the-box:last-child {
        margin-right: 0;
    }
    
}

/* ABOUT US SESSION END */

/* OUR BLOG SESSION */

.our-blog {
    width: 100%;
    height: auto;
    padding: 50px 120px;
    margin-top: 200px;
    position: absolute;
    margin: 200px auto auto;
    max-width: 1500px;
}

.our-blog .img12 {
    position: absolute;
    left: 20px;
    margin-top: 50px;
    height: 200px;
}

.our-blog .img13 {
    position: absolute;
    right: 0;
    height: 330px;
}

.our-blog h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #13A3AC;
    margin: 15px 0;
}

.our-blog h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #13A3AC;
    margin-bottom: 35px;
}

.the-blog-box {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

.the-blog-box img {
    margin-right: 40px;
    height: 270px;
}

.the-blog-box:last-child {
    margin-bottom: 0;
}

.the-blog h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #13A3AC;
    margin-bottom: 20px;
}

.the-blog p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #13A3AC;
    margin-bottom: 13px;
}

.the-blog a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #13A3AC;
    text-align: center;
    padding: 10px 40px;
    gap: 10px;
    background: rgba(19, 163, 172, 0.1);
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

.the-blog a:hover {
    transform: translateY(-10px);
}

.the-blog a i {
    border-color: #13A3AC;
}

.our-blog .img14 {
    position: absolute;
    left: 0;
    height: 330px;
    margin-top: -150px;
}

@media screen and (max-width:800px) {
    .our-blog {
        position: relative;
        padding: 15px;
        margin: 40px 0;
    }

    .the-blog-box {
        flex-direction: column;
        padding: 15px;
    }

    .our-blog .img12 {
        top: -120px;
        height: 100px;
    }

    .img0 {
        display: none;
    }

    .our-blog .img13 {
        height: 150px;
        top: -100px;
    } 

    .our-blog h1 {
        font-size: 33px;
        line-height: 40px;
    }

    .our-blog h4 {
        font-size: 14px;
    }

    .the-blog-box {
        align-items: center;
        padding: 20px;
    }

    .the-blog-box img {
        height: 210px;
    }

    .the-blog-box h2 {
        font-size: 23px;
        line-height: 40px;
        margin-top: 20px;
    }

    .the-blog-box p {
        font-size: 14px;
        line-height: 180%;
    }

    .our-blog .img14 {
        height: 150px;
        margin-top: -40px;
    }
}

/* OUR BLOG SESSION MEDIA QUERY FOR SOME TABLETS */

@media only screen and (max-width:1100px) and (min-width:800px) {
    .our-blog {
        position: relative;
        padding: 25px;
        margin: 40px 0;
    }

    .our-blog .img12 {
        top: -120px;
        height: 120px;
    }

    .img0 {
        display: none;
    }

    .our-blog .img13 {
        height: 250px;
        top: -100px;
    } 

    .our-blog .img14 {
        height: 250px;
    }

    .the-blog-box {
        align-items: center;
    }
}